<mat-tree
  #tree
  [dataSource]="dataSource"
  [childrenAccessor]="childrenAccessor"
  class="folder-tree"
>
  <!-- Leaf node template -->
  <mat-tree-node *matTreeNodeDef="let node">
    <div
      class="mat-tree-node"
      (click)="selectNode(node, $event)"
      [class.selected]="node === selectedNode"
      cdkDropList
      [cdkDropListConnectedTo]="['photosDropList']"
      [cdkDropListData]="node"
      (cdkDropListDropped)="onDrop($event, node)"
      [id]="getDropListId(node)"
    >
      <button mat-icon-button disabled></button>
      {{ node.name }}
    </div>
  </mat-tree-node>

  <!-- Expandable node template -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <div
      class="mat-tree-node"
      (click)="selectNode(node, $event)"
      [class.selected]="node === selectedNode"
      cdkDropList
      [cdkDropListConnectedTo]="['photosDropList']"
      [cdkDropListData]="node"
      (cdkDropListDropped)="onDrop($event, node)"
      [id]="getDropListId(node)"
    >
      <button
        mat-icon-button
        matTreeNodeToggle
        [attr.aria-label]="'Toggle ' + node.name"
        (click)="$event.stopPropagation()"
      >
        <mat-icon class="mat-icon-rtl-mirror">
          {{ tree.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
      {{ node.name }}
    </div>
    <div
      [class.example-tree-invisible]="!tree.isExpanded(node)"
      role="group"
    >
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>  
</mat-tree>

<div class="tree-buttons">
    <button mat-raised-button color="primary" (click)="uploadPhoto()">
      Upload Photo
    </button>
    <button mat-raised-button color="accent" (click)="createFolder()">
      Create Folder
    </button>
</div>