.folder-tree {
  padding: 10px;

  .mat-tree-node {
    display: flex;
    align-items: center;

    mat-icon {
      margin-right: 8px;
    }

    &.selected {
      background-color: rgba(185, 24, 24, 0.1); /* Adjust color as needed */
      border-radius: 4px;
    }

    &.cdk-drop-list-dragging {
      border-radius: 4px;
      border-style: dotted;
      animation: animateBorder 1.5s linear infinite; /* Add animation */
    }
  }

  .example-tree-invisible {
    display: none;
  }
}

.tree-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 0 10px;

  button {
    margin-bottom: 10px;
  }

  .folder-actions {
    display: flex;
    justify-content: space-between; /* Space out the buttons */
    align-items: center;
    
    button:first-child {
      margin-right: 10px;
      width: 100%;
    }
  }
}

@keyframes animateBorder {
  0% {
    border-color: rgba(185, 24, 24, 0.5); /* Starting border color */
  }
  50% {
    border-color: rgba(185, 24, 24, 1); /* Midway border color */
  }
  100% {
    border-color: rgba(185, 24, 24, 0.5); /* Ending border color */
  }
}